<ng-container *ngIf="errorMessage">
  <div class="alert alert-danger d-flex align-items-center">
    <span class="material-icons mr-2">
      error
    </span>
    {{errorMessage}}
    <span class="material-icons ml-auto" (click)="hideError">
      close
    </span>
  </div>
  </ng-container>
  <div class="card">
  <div class="card-header text-white bg-info">{{pageTitle}}</div>



  <div class="card-body">
    <form novalidate (ngSubmit)="saveHotel()" [formGroup]="hotelForm">
      <div class="form-group row mb-2">
        <label for="hotelNameId" class="col-md-2 col-form-label">Nom Hotel</label>
        <div class="col-md-8">
          <input type="text"
                 id="hotelNameId"
                 class="form-control"
                 formControlName="hotelName"
                 placeholder="Nom(obligatoire)"
                 [ngClass]="{'is-invalid': formErrors['hotelName']}">
                 <span class="invalid-feedback">
                    {{formErrors['hotelName'] }}
                 </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="hotelPriceId" class="col-md-2 col-form-label">Prix</label>
        <div class="col-md-8">
          <input type="text"
                 id="hotelPriceId"
                 class="form-control"
                 formControlName="price"
                 placeholder="Prix"
                 [ngClass]="{'is-invalid': formErrors['price']}">
                 <span class="invalid-feedback">
                  {{formErrors['price'] }}
               </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="starRatingId" class="col-md-2 col-form-label">Evaluation (1-5)</label>
        <div class="col-md-8">
          <input
                type="text"
                id="starRatingId"
                class="form-control"
                formControlName="rating"
                placeholder="Evaluation(1-5)"
                [ngClass]="{'is-invalid': formErrors['rating']}">
                <span class="invalid-feedback">
                  {{formErrors['rating'] }}
               </span>
        </div>
      </div>

      <div formArrayName="tags">
        <div class="form-group row mb-2" *ngFor="let tag of tags.controls; let i=index">
        <label [attr.for]="i" class="col-md-2 col-form-label">
          {{'Etiquette '+ i}}
        </label>
        <div class="col-md-8">
          <input type="text" [id]="i" class="form-control" placeholder="{{'Etiquette '+ i}}" [formControlName]="i">
        </div>
        <button type="button" class="col-md-2 btn btn-outline-danger btn-sm" (click)="deleteTag(i)">
          Supprimer
        </button>
      </div>
      <div class="row">
        <div class="col-md-2 mb-2">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="addTags()">
            Ajouter une &eacute;tiquette
          </button>
        </div>
      </div>
      </div>


      <div class="form-group row mb-2">
        <label for="descriptionId" class="col-md-2 col-form-label">Description</label>
        <div class="col-md-8">
          <textarea
                class="form-control"
                formControlName="description"
                id="descriptionId"></textarea>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-info mr-3" type="submit">Sauvegarder</button>
          <button class="btn btn-outline-secondary mr-3" type="button" routerLink="/hotels" >Annuler</button>
          <button class="btn btn-outline-danger" type="button" [disabled]="hotel?.id===0" (click)="deleteHotel()">Supprimer</button>
        </div>
      </div>
    </form>
  </div>
</div>

